:root
{	
	--primary: #8677A6;
	--primary-light-color: hsla(259, 21%, 25%, 1);
	--primary-color: hsla(259, 21%, 50%, 1);
	--primary-dark-color: hsla(259, 21%, 75%, 1);
	
	--secondary: #F2DABD;
	--secondary-light-color: hsla(33, 67%, 25%, 1);
	--secondary-color: hsla(33, 67%, 50%, 1);
	--secondary-dark-color: hsla(33, 67%, 75%, 1);
	
	--neutral: #7e7986;
	--neutral-lightest-color: hsla(263, 5%, 90%, 1);
	--neutral-lighter-color: hsla(263, 5%, 66%, 1);
	--neutral-color: hsla(263, 5%, 45%, 1);
	--neutral-darker-color: hsla(263, 5%, 20%, 1);
	--neutral-darkest-color: hsla(263, 5%, 5%, 1);
	
	--headline-font: 'Montserrat', sans-serif;
	--paragraph-font: 'Nunito', sans-serif;
}

body
{
	display: flex;
	flex-direction: column;
}

main
{
	display: flex;
	flex-direction: row;
}

nav
{	
	height: 75vh;
	
	margin: 0 var(--midrange-space);
	padding: calc(var(--midrange-space) / 2);
	
	border-radius: var(--very-rounded-radius);
}

nav > *
{
	margin-bottom: calc(var(--midrange-space) / 2);
	width: 100%;
	text-decoration: none;
	color: var(--neutral-lightest-color);
}

nav > .selected
{
	border-left: solid 3px var(--primary-color);
	padding-left: 3px;
	border-radius: 3px;
}

nav .nav-icon
{
	font-size: 32px;
}

main > section
{
	width: auto;
}
